.ant-collapse-content{
  width: 400px;
  height: 100%;
  position: fixed;
  z-index: 500;
  right: 0;
  //color: #000;
  top: 64px;
  transition: all .5s linear;
  border: solid 6px #001529;
  background-color: #001529;
  overflow-y: scroll;

  div[class~='ant-collapse-content-active']{
    border:none
  }
  div[class~='ant-collapse-item-active']{
    border:none
  }

  div[class~='ant-collapse']{
    background-color: #001529;
    border: none;
    div[class~='ant-collapse-header']{
      color: #fff;
    }
  }
  .collapse-btn{
    background-color:#001529;
    position: absolute;
    height: 100%;
    cursor: pointer;
    
    span{
      position: relative;
      top: 40%;
      display: block;
    }
  }
  div[class='ant-collapse-content-box']{
    padding: 0;
  }
  .data-all{
    p:first-child{
      //color: #000;
      //font-size: 20px;
    }
  }
}
