.ant-collapse-content{
  width: 400px;
  height: 100%;
  position: fixed;
  z-index: 500;
  right: 0;
  top: 64px;
  transition: all 1s;
  border: solid 6px #001529;
  background-color: #001529;

  .collapse-btn{
    background-color:#001529;
    position: absolute;
    height: 100%;
    cursor: pointer;
    
    span{
      position: relative;
      top: 40%;
      display: block;
    }
  }
}
