<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<!-- <html lang="en"> -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>紫光华智安防项目</title>
</head>

<body>
<div class="h3c-content">
  <div id="root"></div>
</div>
</body>
</html>
